
<div style="color: white; padding-top: 30px; padding-bottom: 10px;"><h3>{{title}}</h3></div>
<div [attr.id]="elementId">
  <div (click)="leftClick()" class="crasouelpane-scroller-left"  [ngClass]="navigationClass">
    <span style="visibility: hidden;" [attr.id]="elementId+'-crasouelpane-scroller-left-inner'"><i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i></span>
  </div>
  <div (click)="rightClick()" class="crasouelpane-scroller-right"   [ngClass]="navigationClass">
    <span style="visibility: visible;" [attr.id]="elementId+'-crasouelpane-scroller-right-inner'"><i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
</span>
  </div>

  <div class="crasouelpane-wrapper" [attr.id]="elementId+'-crasouelpane-wrapper'">

    <ul class="crasouelblock" >
      <li *ngFor="let item of data;let i = index"  [attr.class]="size== 'potrait' ? 'crasouelinner-potrait' : 'crasouelinner-landscape'">
        <!--<div  [style.background-image]="'url('+ item.img + ')'+''" style="background-repeat: no-repeat;height: 100%;background-size: cover;"  [attr.id]="elementId+'-'+i+'-crasouelinner'">-->
        <div  [style.background-image]="'url('+ item.img + ')'+''" style="background-repeat: no-repeat;height: 100%;background-size: cover;"  [attr.id]="elementId+'-'+i+'-crasouelinner'">

          <div class="transbox">
            <div class="showContent">
              <div>
                <i style="color: white; justify-content: center;" class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i>
              </div>

              <br/>
              <p  style="display: inline;font-size: 9pt;color: white; float: left;">
                <span style="display: inline;color: lightgreen" *ngIf="item.matchPercentage">{{item.matchPercentage}} Match</span>
                <span style="display: inline">{{item.releaseYear}}</span>
                <span style="display: inline;border: 1px solid gray" *ngIf="item.ageLimit">{{item.ageLimit}}+</span>
                <span style="display: inline" *ngIf="item.seasonNo">Season {{item.seasonNo}}</span><br/>
                <span style="display: inline;  float: left;" *ngIf="item.desc">{{item.desc}}</span><br/>
              </p>
              <br/>
              <br/>
              <div style="color: white;">
                <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
              </div>
            </div>

          </div>

        </div>
        <br>
      </li>
    </ul>
  </div>
</div>
