@media (max-width: 300px) {
  .carosel-item {
    width: 100%;
  }

  .carosel-item-potrait {
    width: 100%;
  }
}
@media (min-width: 300px) {
  .carosel-item {
    width: 50%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
  }

  .carosel-item-potrait {
    width: 50%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
  }
}
@media (min-width: 500px) {
  .carosel-item {
    width: 33.333%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
  }

  .carosel-item-potrait {
    width: 33.333%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
  }
}

@media (min-width: 768px) {
  .carosel-item {
    width: 18%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
  }

  .carosel-item-potrait {
    width: 25%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
  }

  /* Dropping Hover effect */


  .carosel-item:hover
  {
    box-shadow: 0px 0px 50px ;
    z-index: 1;
    -webkit-transition: all 20ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 20ms ease-in;
    -ms-transform: scale(0.5);
    -moz-transition: all 20ms ease-in;
    -moz-transform: scale(0.5);
    transition: all 20ms ease-in;
    transform: scale(1.020);
  }

  .carosel-item-potrait:hover
  {
    box-shadow: 0px 0px 50px ;
    z-index: 1;
    -webkit-transition: all 20ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 20ms ease-in;
    -ms-transform: scale(0.5);
    -moz-transition: all 20ms ease-in;
    -moz-transform: scale(0.5);
    transition: all 20ms ease-in;
    transform: scale(1.020);
  }

  /* quick reset and base styles */


  /* relevant styles */
  .img__wrap {
    position: relative;
  }

  .img__description_layer {
    box-shadow: 5px 5px 5px #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }

  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }

  .img__wrap:hover .img__description {
    transform: translateY(0);
  }
}
.carosel {
  position: relative;
  background-color: #000;
}
.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.carosel-item {
  box-shadow: 5px 5px 5px #888888;
  display: inline-block;
  background-color: #000;
}
.carosel-item-potrait {
  box-shadow: 5px 5px 5px #888888;
  display: inline-block;
  background-color: #000;
}
.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
}
.carosel-control-left {
  left: 15px;
}
.carosel-control-right {
  right: 15px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}


.close-button{
  position: absolute; right: 0;
  top: 0;
  padding: 20px 20px 40px 40px;
  z-index: 12;
  cursor: pointer;
  color: #fff;
  -webkit-transform-origin: 60% 35%;
  -moz-transform-origin: 60% 35%;
  -ms-transform-origin: 60% 35%;
  -o-transform-origin: 60% 35%;
  transform-origin: 60% 35%;
  background: -webkit-radial-gradient(top right ellipse,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -moz-radial-gradient(top right ellipse,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -o-radial-gradient(top right ellipse,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at top right,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background-position: 50% -50%;
}
