<div class="row col-lg-12">
  <div  [attr.class]="carouselStyle == 'vertical' ? 'vertical-carousel' : 'horizontal-carousel'">
    <div class="left-arrow" [attr.id]="elementId+'leftarrow'" style="cursor: pointer"> <div class="controls" (click)="leftClick();"><i class="fa fa-chevron-left" aria-hidden="true"></i></div> </div>

    <div class="scrollpanel" [attr.id]="elementId">
      <ul class="ul_wrapper">
        <li *ngFor="let item of data;let i = index" style="padding-left: 10px;">
          <div class="prom-photo" [style.background-image]="'url('+ item.img + ')'+''" >
            <div class="synopsis">
              <!--<div class="playpanel" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), #000000)">-->
              <div class="playpanel">
                <div style="cursor: pointer" (click)="loadVideo(item)" class="playbutton"><i class="fa fa-play" aria-hidden="true"></i></div>
              </div>
              <div class="textonly">
                <span class="title" *ngIf="item.title">{{item.title}}</span><br>
                <span class="subtitle">
                      <ng-container  *ngIf="item.matchPercentage">
                      <span class="match">{{item.matchPercentage}}  Match</span>
                      {{item.releaseYear}} <span class="age mini">+{{item.ageLimit}}</span> {{item.seasonNo}} Season
                      </ng-container>
                    </span>
                <br>
                {{item.desc}}
                <br>
              </div>
              <div class="actionpanel"   *ngIf="item.content">
                <div style="cursor: pointer;" (click)="openDetailsSection(item)"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="right-arrow" [attr.id]="elementId+'rightarrow'" style="cursor: pointer"> <div class="controls" (click)="rightClick();"><i class="fa fa-chevron-right" aria-hidden="true"></i></div></div>

  </div>
</div>

<div class="row col-lg-12">
  <div [attr.id]="elementId+'carousel-detail-content'" class="collapse" *ngIf="hasDetail" style="width: 100%;background-color: black">

    <amexio-card-pane [enableHeader]="false" [enableFooter]="false">

      <amexio-pane-body>
      <span class="close-button" style="padding-left: 99%;background: radial-gradient(ellipse at top right,rgba(0,0,0,.4) 0,rgba(0,0,0,0)70%,rgba(0,0,0,0) 100%);">
        <i class="fa fa-times fa-2x" style="cursor: pointer" (click)="closeDetailPage()" aria-hidden="true"></i>
      </span>

        <amexio-content [bgImgUrl]="currentDetailsImagePath"
                        [title]="currentDetailsTitle" [description]="currentDetailsDesc"
                        [contents]="currentContent" [videoLink]="videoUrl"
                        (onWatchClick)="playVideo(videoUrl)"
                        [rate]="rate" [enableWatch]="true" [enableMyList]="true"
                        [seasonNo]="seasonNo" [releaseYear]="releaseYear" [ageLimit]="ageLimit" [matchPercentage]="matchPercentage"
        ></amexio-content>

      </amexio-pane-body>
    </amexio-card-pane>
  </div>
</div>







<!--
<div id="elementId">
  <div (click)="leftClick()" class="crasouelpane-scroller crasouelpane-scroller-left" >
    <span style="visibility: hidden;cursor: pointer"  id="crasouelpane-scroller-left-inner"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>

  </div>
  <div (click)="rightClick()" class="crasouelpane-scroller crasouelpane-scroller-right">
    <span style="visibility: visible;cursor: pointer" id="crasouelpane-scroller-right-inner"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
  </div>

  <div class="crasouelpane-wrapper" id="crasouelpane-wrapper">
    <ul class="crasouelblock" id="crasouelblock">

      <li class="crasouelinner" *ngFor="let item of data">
        <div style="width: 350px;  height:190px;" [style.background-image]="'url('+ item.img + ')'+''">
          155
        </div>
      </li>

    </ul>
  </div>
</div>
-->

