
/* -------------------------------------- */
/*  Horizontal Carousel CSS Starts Here   */
/* -------------------------------------- */


.horizontal-carousel{
  width: 100%;
  height: auto;
  padding-top: 10px;

}
/* Carousel Controls */
.horizontal-carousel  .controls{

  padding: 0.5em;
  float: left;
  width: 3%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}
/* Carousel Area */
.horizontal-carousel  .scrollpanel{
  width: 90%;
  float: left;
  display: flex;
  overflow: hidden;
}


.horizontal-carousel .scrollpanel .ul_wrapper {
  width: 100%;
  list-style: none;
  display: flex;
}



.horizontal-carousel li{
  float: left;
  border: 1px solid black;

}
.horizontal-carousel li:last-child{
  margin-right: 0
}
/* Promotion Unit in Carousel */
.horizontal-carousel .prom-photo{
  margin: 0;
  transition: transform 0.5s, opacity 1s;
  background-repeat: no-repeat;
  background-position: center;
  width:350px;
  height: 190px;
  background-size: 100% auto;
  /*background-color: #000;*/

}



.horizontal-carousel .ul_wrapper:hover li {
  /* color:green;transform: scale(.70);*/
  /*color:green; width: 200px;*/

  /*height:250px!important;
  width:450px;*/

  transform: scale(1.0);
  /*border: 1px solid green;*/
}


.horizontal-carousel .ul_wrapper li .prom-photo:hover{

  height:250px!important;
  transition: height,width ease-in 300ms;
  width:450px;
  /*transform: scale(1.50);*/
/*  -webkit-transition: 1s time;
  -moz-transition: 1s time;
  -ms-transition: 1s time;
  -o-transition: 1s time;
  transition: 1s time height:250px;*/
  /*height:250px!important;
  transition: height,width ease-in 200ms;
  width:450px;
  opacity: 1;
  z-index: 1;
  padding-bottom: 100px;
 !* border: 1px solid red;*!
*/
  /*transform: scale(1.1);color:red;filter: none;  width: 400px; border: 1px solid green;*/
}


.horizontal-carousel .prom-photo .synopsis{
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  font-size: 80%;
  line-height: 160%;
  text-align: center;
  color: white !important;
}
.horizontal-carousel .prom-photo .synopsis:hover{
  opacity: 1;
}
.horizontal-carousel .prom-photo .synopsis .playpanel{
  padding: 40px 0 0 0;
  background-size: cover;
  background-position: center;

}
.horizontal-carousel .prom-photo .synopsis .playpanel .playbutton{
  display: inline-block;
  border: solid 1px #ffffff;
  padding: 5px;
  height:30px;
  width: 30px;
  border-radius: 50px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}
.horizontal-carousel .prom-photo .synopsis .playpanel .playbutton:hover{
  color: #e50914;
}
.horizontal-carousel .prom-photo .synopsis .playpanel .playbutton i{

  padding-top: 3px;
  padding-left: 3px;
}

.horizontal-carousel .prom-photo .synopsis .title{

}
.horizontal-carousel .prom-photo .synopsis .subtitle{

}
.horizontal-carousel .prom-photo .synopsis .textonly{
  padding: 0px 7px 2px 7px;
  width: 100%;
  text-align: left;
  color: white;
  background-color: transparent;
}
.horizontal-carousel .prom-photo .synopsis .actionpanel{
  color:  #e50914;
  background-color: transparent;
}
.horizontal-carousel .prom-photo .synopsis .actionpanel i{
  color: #e50914;
  padding: 0 0 3px 0;
}


/* -------------------------------------- */
/*   Horizontal Carousel CSS Ends Here    */
/* -------------------------------------- */

.left-arrow{
  float: left;
  width: 7%;
}

.right-arrow{
  float: right;
  width: 3%;
}


