
/* -------------------------------------- */
/*  Horizontal Carousel CSS Starts Here   */
/* -------------------------------------- */


.horizontal-carousel{
  width: 100%;
  height: auto;
  padding-top: 10px;

}
/* Carousel Controls */
.horizontal-carousel  .controls{

  padding: 0.5em;
  float: left;
  width: 3%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}
/* Carousel Area */
.horizontal-carousel  .scrollpanel{
  width: 94%;
  float: left;
  display: flex;
  overflow: hidden;
}


.horizontal-carousel .scrollpanel .ul_wrapper {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



.horizontal-carousel li{
  float: left;
  border: 1px solid black;

}
.horizontal-carousel li:last-child{
  margin-right: 0
}
/* Promotion Unit in Carousel */
.horizontal-carousel .prom-photo{
  margin: 0;
  transition: transform 0.5s, opacity 1s;
  background-repeat: no-repeat;
  background-position: center;
  width:350px;
  height: 190px;
  background-size: 100% auto;
  /*background-color: #000;*/

}



.horizontal-carousel .ul_wrapper:hover li {
  /* color:green;transform: scale(.70);*/
  /*color:green; width: 200px;*/

  /*height:250px!important;
  width:450px;*/

  transform: scale(1);
  /*border: 1px solid green;*/
}


.horizontal-carousel .ul_wrapper li .prom-photo:hover{

  height:250px!important;
  transition: height,width ease-in 200ms;
  width:450px;
  /*transform: scale(1.50);*/
/*  -webkit-transition: 1s time;
  -moz-transition: 1s time;
  -ms-transition: 1s time;
  -o-transition: 1s time;
  transition: 1s time height:250px;*/
  /*height:250px!important;
  transition: height,width ease-in 200ms;
  width:450px;
  opacity: 1;
  z-index: 1;
  padding-bottom: 100px;
 !* border: 1px solid red;*!
*/
  /*transform: scale(1.1);color:red;filter: none;  width: 400px; border: 1px solid green;*/
}

/* -------------------------------------- */
/*   Horizontal Carousel CSS Ends Here    */
/* -------------------------------------- */


