<app-nav-bar></app-nav-bar>
<div  style="background-color: black;overflow: hidden;padding-top: 80px;padding-left: 20px" >
  <div class="row">
    <div class="col-sm-12">
      <amexio-tab-pane  [closable]="false">
        <amexio-tab title="OVERVIEW" [active]="true">
          <amexio-content [bgImgUrl]="'assets/images/tvshows/narcos/narcos_main_header_img.jpg'"
                          [title]="'Narcos'" [description]="'The true story of Colombia infamously violent and powerful drug cartels fuels this gritty gangster drama series.'"
                          [contents]="content" [videoLink]="'U7elNhHwgBU'" [matchPercentage]="'90%'" [ageLimit]="'16'" [releaseYear]="'2016'" [seasonNo]="1"
                          [rate]="rate" [max]="max" [enableWatch]="true" [enableMyList]="true" (onWatchClick)="playVideo('U7elNhHwgBU')"></amexio-content>
        </amexio-tab>
        <amexio-tab title="EPISODES">
          <div class="col-lg-12"><br>
            <h3 style="color: white">Narcos</h3>
            <amexio-dropdown [(ngModel)]="episodeName"
                             [placeholder]="'Season 1'"
                             name="episodeName"
                             [dataReader]="'data'"
                             [httpUrl]="'assets/data/episode.json'"
                             [httpMethod]="'get'"
                             [displayField]="'episode'"
                             [valueField]="'code'"
                             (onSingleSelect)="changeData($event)"
                             [width]="'250px'">
            </amexio-dropdown><br>
            <ng-container *ngIf="topRateContent">
              <media-ee-carousel [title]="'Season 1'"  [data]="changingEpisodeData"></media-ee-carousel>
            </ng-container>
          </div>
        </amexio-tab>
      </amexio-tab-pane>
    </div>
  </div>
<br>
  <div class="col-lg-12">
    <media-ee-carousel title="Top Rated" [data]="topRateContent" carouselStyle="vertical"></media-ee-carousel>
  </div>

  <div class="col-lg-12">
    <media-ee-carousel title="New Release" [data]="newreleases"></media-ee-carousel>
  </div>

  <div class="col-lg-12">
    <media-ee-carousel title="Dramas" [data]="dramas"></media-ee-carousel>
  </div>



  <div class="col-lg-12">
    <media-ee-carousel title="Documentaries" [data]="documentries"></media-ee-carousel>
  </div>
</div>

