
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid" style="background-color: black;overflow-y: hidden" >
    <div class="row">
      <div class="col-sm-12" style="padding-top: 100px">
        <amexio-tab-pane  [closable]="false">
          <amexio-tab title="OVERVIEW" [active]="true">
            <amexio-card-pane [enableHeader]="false" [enableFooter]="false">

              <amexio-pane-body>
                  <amexio-content [bgImgUrl]="'assets/images/tvshows/narcos/narcos_main_header_img.png'"
                                  [bgMobileImgUrl]="'https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/wb-5051888226353_IN-Full-Image_GalleryBackground-rw-RW-1502752057555._RI_VIWL02DwCvH1lDzpKFREvkQ9g04ODUzX0_TTW_SX360_.jpg'"
                    [title]="'Narcos'" [description]="'The true story of Colombia infamously violent and powerful drug cartels fuels this gritty gangster drama series.'"
                  [contents]="content" [videoLink]="'demo'"
                  [rate]="rate" [max]="max" [enableWatch]="true" [enableMyList]="true" (onAddListClick)="addToList($event)"></amexio-content>
              </amexio-pane-body>
            </amexio-card-pane>
          </amexio-tab>
          <amexio-tab title="EPISODES">
            <amexio-card-pane [enableHeader]="false" [enableFooter]="false">
              <amexio-pane-body>
                <amexio-content [bgImgUrl]="'assets/images/tvshows/narcos/narcos_main_header_img.png'"
                                [bgMobileImgUrl]="'https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/wb-5051888226353_IN-Full-Image_GalleryBackground-rw-RW-1502752057555._RI_VIWL02DwCvH1lDzpKFREvkQ9g04ODUzX0_TTW_SX360_.jpg'"
                                [title]="'Narcos'" [description]="'The true story of Colombia infamously violent and powerful drug cartels fuels this gritty gangster drama series.'"
                                [contents]="content" [videoLink]="'demo'"
                                [rate]="rate" [max]="max" [enableWatch]="true" [enableMyList]="true" (onAddListClick)="addToList($event)"></amexio-content>

              </amexio-pane-body>
            </amexio-card-pane>
          </amexio-tab>
        </amexio-tab-pane>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-lg-12">
        <amexio-multi-item-carousel [title]="'TV Shows'">
          <ng-container *ngFor="let item of topRateContent">
            <amexio-media-content [imgPath]="item.img"></amexio-media-content>
          </ng-container>
        </amexio-multi-item-carousel>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <amexio-multi-item-carousel [title]="'Dramas'">
          <ng-container *ngFor="let item of dramas">
            <amexio-media-content [imgPath]="item.img"></amexio-media-content>
          </ng-container>
        </amexio-multi-item-carousel>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <amexio-multi-item-carousel [title]="'New Releases'">
          <ng-container *ngFor="let item of newreleases">
            <amexio-media-content [imgPath]="item.img"></amexio-media-content>
          </ng-container>
        </amexio-multi-item-carousel>
      </div>
    </div>

    <br>
    <br>



  </div>


