<div class="section-header">{{title}}</div>
<div [ngClass]="{'contain row' : carouselStyle=='horizontal','contain-vertical' : carouselStyle=='vertical'}">

  <div class="left-arrow" [attr.id]="elementId+'leftarrow'" style="cursor: pointer"> <div class="controls" (click)="leftClick();"><i class="fa fa-chevron-left" aria-hidden="true"></i></div> </div>

  <div class="row1" [attr.id]="elementId">
    <div class="row__inner">

      <div class="tile" *ngFor="let item of data;let i = index">
        <div class="tile__media">
          <img [ngClass]="{'tile__img' : carouselStyle == 'horizontal','tile__img img-fluid' : carouselStyle == 'vertical'}" [attr.src]="item.img" [ngStyle]="{'height.px' : carouselStyle == 'vertical' ? 450 : ''}" />
        </div>
        <div class="tile__details">
          <div class="textonly" (click)="loadVideo(item)">
            <span class="title" *ngIf="item.title">{{item.title}}</span><br>
            <span class="subtitle">
                      <ng-container  *ngIf="item.matchPercentage">
                      <span class="match">{{item.matchPercentage}}  Match</span>
                      {{item.releaseYear}} <span class="age mini">+{{item.ageLimit}}</span> {{item.seasonNo}} Season
                      </ng-container>
            </span>
            <br>
            <span class="subtitle">
              {{item.desc}}
            </span>
            <br>
          </div>
          <div class="actionpanel"  (click)="openDetailsSection(item)"  *ngIf="item.content">
            <div style="cursor: pointer;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="right-arrow" [attr.id]="elementId+'rightarrow'" style="cursor: pointer"> <div class="controls" (click)="rightClick();"><i class="fa fa-chevron-right" aria-hidden="true"></i></div></div>
</div>


<div [attr.id]="elementId+'carousel-detail-content'" class="collapse" *ngIf="hasDetail">

  <amexio-card-pane [enableHeader]="false" [enableFooter]="false">

    <amexio-pane-body>
      <span class="close-button" style="padding-left: 99%;background: radial-gradient(ellipse at top right,rgba(0,0,0,.4) 0,rgba(0,0,0,0)70%,rgba(0,0,0,0) 100%);">
        <i class="fa fa-times fa-2x" style="cursor: pointer" (click)="closeDetailPage()" aria-hidden="true"></i>
      </span>

      <amexio-content [bgImgUrl]="currentDetailsImagePath"
                      [title]="currentDetailsTitle" [description]="currentDetailsDesc"
                      [contents]="currentContent" [videoLink]="videoUrl"
                      (onWatchClick)="playVideo(videoUrl)"
                      [rate]="rate" [enableWatch]="true" [enableMyList]="true"
                      [seasonNo]="seasonNo" [releaseYear]="releaseYear" [ageLimit]="ageLimit" [matchPercentage]="matchPercentage"
      ></amexio-content>

    </amexio-pane-body>
  </amexio-card-pane>
</div>


