
.nav-tabs .nav-link{
  border: 0px solid transparent !important;
}

.nav-link.active{
  color: white !important;
  background-color: black !important;;
  border-bottom: 2px solid red !important;
}

.nav-tabs {
  color: white;
  border-bottom: 1px solid black !important;
}

.card-block {
  padding: 0 !important;
}

.card {
  border: none;
}
.cursor-style{
  cursor:pointer;
}

.nav-item{
  padding-left: 10px;
}

.amexioContent h1{
  color: white !important;
  font-size: 35px !important;
  line-height: 36px !important;;
  margin-bottom: 12px !important;;
}

.btn{
  border-radius: 0.0rem;
}

.btn-secondary {
  background-color: #dddddd;
  color: #292b2c;
}



/* ---------------------------------------- */
/*     Comman Elements CSS Starts Here      */
/* ---------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.section-header{
  font-weight: 700;
  padding: 1em;
  font-size: 100%;
  color: #eee;
}
.match{
  color: lightgreen;
}
.age{
  display: inline-block;
  border: solid 2px #666;
  color: #666;
  padding: 0 10px 0 10px;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.mini{
  border: solid 1px #666;
  padding: 0 5px 0 5px;
}
/* ---------------------------------------- */
/*      Comman Elements CSS Ends Here       */
/* ---------------------------------------- */



/* ---------------------------------------- */
/*   Navigation Elements CSS Starts Here    */
/* ---------------------------------------- */
/*nav{
  height: 72px;
  width: 100%;
  color: #fff;
}*/
nav .logo {
  width: 14%;
  float: left;
}
nav .logo img{
  margin-top: 6px;
  width: 138px;
  height: auto;
  float: left;
}
.menu-item{
  display: inline-block;
  list-style: none;
  padding: 24px 18px;
}
.important{
  color: #e50914;
  font-weight: 700;
}
.account{
  padding: 12px 10px 12px 18px;
}
.account img{
  display: block;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.name{
  padding: 24px 18px 12px 0px;
}
.right{
  float: right;
}
.left{
  float: left;
}



.buttoncustom{
  margin-right: .4em;
  font-size: 70%;
  font-weight: 500;
  background-color: #e50914;
  border-color: #ff0a16;
  text-decoration: none;
  text-transform: uppercase;
}
.buttoncustom:hover{
  background-color: #ff0a16;
}

.secondarybutton{
  text-decoration: none;
  text-transform: uppercase;
  margin-right: .4em;
  font-size: 70%;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.secondarybutton:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
 .dropdown-menu .dropdown-item:hover{
   color: white!important;
   text-decoration: underline!important;
   background-color: #222222;
}

