
.nav-tabs .nav-link{
  border: 0px solid transparent !important;
}

.nav-link.active{
  color: white !important;
  background-color: black !important;;
  border-bottom: 2px solid red !important;
}

.nav-tabs {
  color: white;
  border-bottom: 1px solid black !important;
}

.card-block {
  padding: 0 !important;
}

.card {
  border: none;
}
.cursor-style{
  cursor:pointer;
}

.nav-item{
  padding-left: 10px;
}

.amexioContent h1{
  color: white !important;
  font-size: 35px !important;
  line-height: 36px !important;;
  margin-bottom: 12px !important;;
}

.btn{
  border-radius: 0.0rem;
}

.btn-secondary {
  background-color: #dddddd;
  color: #292b2c;
}



/* ---------------------------------------- */
/*     Comman Elements CSS Starts Here      */
/* ---------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.section-header{
  font-weight: 700;
  padding: 1em;
  font-size: 100%;
  color: #eee;
}
.match{
  color: lightgreen;
}
.age{
  display: inline-block;
  border: solid 2px #666;
  color: #666;
  padding: 0 10px 0 10px;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.mini{
  border: solid 1px #666;
  padding: 0 5px 0 5px;
}
/* ---------------------------------------- */
/*      Comman Elements CSS Ends Here       */
/* ---------------------------------------- */



/* ---------------------------------------- */
/*   Navigation Elements CSS Starts Here    */
/* ---------------------------------------- */
/*nav{
  height: 72px;
  width: 100%;
  color: #fff;
}*/
nav .logo {
  width: 14%;
  float: left;
}
nav .logo img{
  margin-top: 6px;
  width: 138px;
  height: auto;
  float: left;
}
.menu-item{
  display: inline-block;
  list-style: none;
  padding: 24px 18px;
}
.important{
  color: #e50914;
  font-weight: 700;
}
.account{
  padding: 12px 10px 12px 18px;
}
.account img{
  display: block;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.name{
  padding: 24px 18px 12px 0px;
}
.right{
  float: right;
}
.left{
  float: left;
}



.buttoncustom{
  margin-right: .4em;
  font-size: 70%;
  font-weight: 500;
  background-color: #e50914;
  border-color: #ff0a16;
  text-decoration: none;
  text-transform: uppercase;
}
.buttoncustom:hover{
  background-color: #ff0a16;
}

.secondarybutton{
  text-decoration: none;
  text-transform: uppercase;
  margin-right: .4em;
  font-size: 70%;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.secondarybutton:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.vertical-carousel{
  display: inline-block;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
/* Carousel Controls */
.vertical-carousel .content .controls{
  display: block;
  padding: 0.5em;
  width: 3%;
  height: auto;
  float: left;
}
/* Carousel Area */
.vertical-carousel .content .scrollpanel{
  width: 94%;
  float: left;
}
.vertical-carousel ul{
  width: 100%;
  list-style: none;
}
.vertical-carousel li{
  display: block;
  float: left;
  background-color: #000;
  border: solid 2px #141414;
  width: 20%;
}
.vertical-carousel li:last-child{
  margin-right: 0
}
/* Promotion Unit in Carousel-Backup */
.vertical-carousel .prom-photo{
  display: inline-block;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 460px;
  background-color: #000;
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
}
.vertical-carousel .prom-photo:hover{
  transform: scale(1.20);
  opacity: 1;
}
/* Promotion Unit in Synopsis Block - APPEARS ON HOVER */
.vertical-carousel .prom-photo .synopsis{
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 70%;
  line-height: 160%;
  text-align: center;
}
.vertical-carousel .prom-photo .synopsis:hover{
  opacity: 1;
}
.vertical-carousel .prom-photo .synopsis .playpanel{
  padding: 130px 0 155px 0;
  background-size: cover;
  background-position: center;
}
.vertical-carousel .prom-photo .synopsis .playpanel .playbutton{
  display: inline-block;
  border: solid 2px #ffffff;
  padding: 5px;
  height:50px;
  width: 50px;
  border-radius: 100px;
  background-color: rgba(0,0,0,.5);
  color: #fff;

}
.vertical-carousel .prom-photo .synopsis .playpanel .playbutton:hover{
  color: #e50914;
}
.vertical-carousel .prom-photo .synopsis .playpanel .playbutton i{
  font-size: 18px;
  padding-left: 6px;
  padding-top: 10px;
}

.vertical-carousel .prom-photo .synopsis .title{
  font-size: 130%;
  font-weight: 600;
}
.vertical-carousel .prom-photo .synopsis .subtitle{
  font-size: 110%;
  font-weight: 600;
}
.vertical-carousel .prom-photo .synopsis .textonly{
  padding: 0px 10px 10px 10px;
  width: 100%;
  text-align: left;
  background-color: #000;
}
.vertical-carousel .prom-photo .synopsis .actionpanel{
  background-color: #000;
}
.vertical-carousel .prom-photo .synopsis .actionpanel i{
  color: #fff;
  font-size: 18px;
  padding: 0 0 10px 0;
}
/* -------------------------------------- */
/*    Vertical Carousel CSS Ends Here     */
/* -------------------------------------- */


/* -------------------------------------- */
/*  Horizontal Carousel CSS Starts Here   */
/* -------------------------------------- */
.horizontal-carousel{
  display: inline-block;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
/* Carousel Controls */
.horizontal-carousel .content .controls{
  display: block;
  padding: 0.5em;
  width: 3%;
  height: auto;
  float: left;
}
/* Carousel Area */
.horizontal-carousel .content .scrollpanel{
  width: 94%;
  float: left;
}
.horizontal-carousel ul{
  width: 100%;
  list-style: none;
}
.horizontal-carousel li{
  display: block;
  float: left;
  width: 20%;
  background-color: #000;
  border: solid 2px #141414;
}
.horizontal-carousel li:last-child{
  margin-right: 0
}
/* Promotion Unit in Carousel */
.horizontal-carousel .prom-photo{
  display: inline-block;
  margin: 0;
  overflow: hidden;
  transition: transform 0.5s, opacity 1s;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130px;
  background-color: #000;
  opacity: 0.7;
}
.horizontal-carousel .prom-photo:hover{
  transform: scale(1.90);
  opacity: 1;
}
/* Promotion Unit in Synopsis Block - APPEARS ON HOVER */
.horizontal-carousel .prom-photo .synopsis{
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  font-size: 40%;
  line-height: 160%;
  text-align: center;
}
.horizontal-carousel .prom-photo .synopsis:hover{
  opacity: 1;
}
.horizontal-carousel .prom-photo .synopsis .playpanel{
  padding: 20px 0 20px 0;
  background-size: cover;
  background-position: center;
}
.horizontal-carousel .prom-photo .synopsis .playpanel .playbutton{
  display: inline-block;
  border: solid 1px #ffffff;
  padding: 5px;
  height:30px;
  width: 30px;
  border-radius: 50px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}
.horizontal-carousel .prom-photo .synopsis .playpanel .playbutton:hover{
  color: #e50914;
}
.horizontal-carousel .prom-photo .synopsis .playpanel .playbutton i{
  font-size: 12px;
  padding-top: 3px;
  padding-left: 3px;
}

.horizontal-carousel .prom-photo .synopsis .title{
  font-size: 130%;
  font-weight: 600;
}
.horizontal-carousel .prom-photo .synopsis .subtitle{
  font-size: 110%;
  font-weight: 600;
}
.horizontal-carousel .prom-photo .synopsis .textonly{
  padding: 0px 7px 2px 7px;
  width: 100%;
  text-align: left;
  background-color: #000;
}
.horizontal-carousel .prom-photo .synopsis .actionpanel{
  background-color: #000;
}
.horizontal-carousel .prom-photo .synopsis .actionpanel i{
  color: #fff;
  font-size: 12px;
  padding: 0 0 3px 0;
}
/* -------------------------------------- */
/*   Horizontal Carousel CSS Ends Here    */
/* -------------------------------------- */


/* -------------------------------------- */
/*   Selected Elements CSS Starts Here    */
/* -------------------------------------- */
.selected{
  width: 100%;
  padding: 48px 48px 0px 48px;;
  background-size: contain;
  background-position: right;
  background-repeat: space;
  height: 500px;
  margin-bottom: 50px;
  background-color: #000;
}
.selected .billboard{
  margin-top: 40px;
  width: 100%;
  padding: 2px;
  font-size: 110%;
  line-height: 160%;
}
/* Tabs Related (NOT IN USE) */
.selected .billboard .tab-area a{
  width: 120px;
  float: left;
  font-size: 90%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  margin-right: .75em;
  margin-bottom: 30px;
  transition: border 0.5s;
}
.selected .billboard .tab-area a:hover{
  border-bottom: solid 2px #eeeeee;
}
.selected .billboard .tab-area .active{
  border-bottom: solid 2px #e50914;
}
/* Text Related CSS */
.selected .billboard .title{
  width: 100%;
  font-size: 180%;
  font-weight: 700;
  line-height: 130%;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.selected .billboard .content-area{
  width: 40%;
  font-size: 90%;
  float: left;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.selected .billboard .playpanel{
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 90px;
}
.selected .billboard .playpanel .playbutton{
  display: inline-block;
  border: solid 3px #ffffff;
  padding: 5px;
  height:80px;
  width: 80px;
  border-radius: 50px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  transform: scale(1.0);
  transition: transform 0.25s;
}
.selected .billboard .playpanel .playbutton:hover{
  color: #e50914;
  transform: scale(1.1);
}
.selected .billboard .playpanel .playbutton i{
  font-size: 36px;
  padding-top: 13px;
  padding-left: 8px;
}
.selected .billboard .content-area .subtitle{
  font-size: 90%;
  font-weight: 500;
  line-height: 180%;
}
.selected .billboard .content-area .credits strong{
  color: #fff;
  font-weight: normal;
}
/* Button Related CSS */
.selected .billboard .button{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: .75em;
  font-size: 80%;
}
.selected .billboard .button i{
  display: inline-block;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  padding: 10px 0 0 11px;
  border: solid 2px rgba(255,255,255,.4);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: transform 0.5s;
}
.selected .billboard .button i:hover{
  border: solid 2px #fff;
  transform: scale(1.1);
}
/* -------------------------------------- */
/*    Selected Elements CSS Ends Here     */
/* -------------------------------------- */
