<div style="color: white; padding-top: 30px; padding-bottom: 10px;"><h3>{{title}}</h3></div>
    <div [attr.id]="elementId" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <div *ngFor="let item of data;let i = index" class="carousel-item {{(i==0) ? 'active' : ''}}">

            <div class="d-block col-lg-4 col-sm-12 hover-in"  [style.height.px]="191" [style.width.px]="width" [style.background-image]="'url('+ item.img + ')'+''" style="background-repeat: no-repeat;background-size: 99%; " [attr.id]="elementId+'-index-'+i">
            <div class="showContent" style="padding-top: 70px">
              <i style="padding-left: 45%;color: white" class="fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
              <h6 style="color: white">{{item.title}}</h6>
              <span style="display: inline;font-size: 9pt;color: white">
            <li style="display: inline;color: lightgreen" *ngIf="item.matchPercentage">{{item.matchPercentage}} Match</li>
            <li style="display: inline">{{item.releaseYear}}</li>
            <li style="display: inline;border: 1px solid gray" *ngIf="item.ageLimit">{{item.ageLimit}}+</li>
            <li style="display: inline" *ngIf="item.seasonNo">{{item.seasonNo}} Season</li>
          </span>
              <span *ngIf="item.desc" style="font-size: 9pt;color: white"><p>{{item.desc}}</p>
              </span>

            </div>
              <div class="showContent">
             <!-- <p  style="justify-content: center;padding-left:50%;padding-top:75px;cursor: pointer;color: white"><i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i></p>-->
              <p  style="cursor: pointer;padding-left:50%;padding-top: 20px;color: white"><i class="fa fa-angle-down fa-2x" aria-hidden="true" ></i></p>
              </div>
              </div>

      </div>
      <a class="carousel-control-prev" (click)="onPrevious()" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" (click)="onNext()" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

